<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<style>
		.jumbotron {
			width: 600px;
			margin-top: 20px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		.table {
			margin-top: 20px;
			text-align: left;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
	</style>
	<script>
		angular.module("listaTelefonica",[]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope, $http) {
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "993482903", data:new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular", preco: 1}},
				{nome: "Ana", telefone: "994329555", data:new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "Celular", preco: 5}},
				{nome: "Maria", telefone: "9934844403", data:new Date(), operadora:{nome: "GVT", codigo: 25, categoria: "Fixo", preco: 9}}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular", preco: 1},
				{nome: "Vivo", codigo: 15, categoria: "Celular", preco: 5},
				{nome: "Tim", codigo: 41, categoria: "Celular", preco: 7},
				{nome: "GVT", codigo: 25, categoria: "Fixo", preco: 9},
				{nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 6}
			];
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if (!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function(contatos){
				return contatos.some(function(contato) {
					return contato.selecionado;
				});
			};
			$scope.ordenarPor = function(campo) {
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />
		<table ng-show="contatos.length > 0" class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
					<th>Operadora</th>
					<th>Data</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
					<td><input type="checkbox" ng-model="contato.selecionado" /></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
				</tr>
			</tbody>
		</table>
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" ng-required="true"/>
			<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" ng-required="true"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency ) + ') ' group by operadora.categoria for operadora in operadoras">
				<option  value="">Selecione uma operadora</option>
			</select>
		</form>
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
</body>
</html>